<% include ../partials/header %>
<div class="container mt-5">
    <div class="row mt-5">
        <div style="width: 30%; margin: 25px auto;">
            <form action="/startups/<%=event_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
    <p class="display-4 text-center">Edit your Comment</p>
                <div class="form-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="enter your comment..."name="comment[text]" value="<%=comment.text%>" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value = "<%=currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1) %> <%=currentUser.lastName.charAt(0).toUpperCase() + currentUser.lastName.slice(1) %>" name="comment[author]" placeholder="author" disabled>
                </div>
                <div class="form-group">
                    <input id="date"type="hidden" name="comment[time]" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Edit my Comment!</button>
                </div>
            </form>
            <a href="/startups/<%= event_id %>">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>
<script>
    document.getElementById("date").value = (moment().format('MMMM Do YYYY, h:mm a'));
</script>