<!DOCTYPE html>
<html>
    <head>
        <title>Finna | Go Beyond</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC|Ubuntu:700" rel="stylesheet">
        <meta name="google-site-verification" content="_4x3JDIpLb68RFqPAR6ruBfVTE0MpDnSxvPk7YnsqEc" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script  >
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://momentjs.com/downloads/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
        <base href="/">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="shortcut icon" href="/image/connectomeFavicon.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Asap|Cabin" rel="stylesheet">
        <link rel="stylesheet"  type="text/css" href="stylesheets/main.css">
        <link rel="icon" href="/image/connectomeFavicon.png" type="image/x-icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet"/>
        </head>
<body> 
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-danger">
    <a class="navbar-brand" href="/">Finna <i class="fas fa-puzzle-piece"></i></a>
  <button class="ml-5 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ml-md-0 ml-lg-5"></li>
      <li class="nav-item ml-md-0 ml-lg-5"></li>
      <li class="nav-item ml-md-0 ml-lg-1"></li>
      <li class="nav-item ml-md-4 ml-lg-0">
        <a class="nav-link" href="/feed">NewsFeed <i class="ml-2 inline fas fa-newspaper"></i><span class="sr-only">(current)</span></a>
      </li>

      <li class="mainElements ml-md-4 ml-lg-0 nav-item">
        <a class="nav-link" href="/users">Users <i class="fas fa-users"></i></a>
      </li>
      
      <li class="mainElements ml-md-4 ml-lg-0 nav-item">
        <a class="nav-link" href="/events">Events <i class="fas fa-map-marked"></i></a>
      </li>
    </ul>
    <hr id="hr">
    <ul class="navbar-nav ml-auto">
<!--      <li>-->
<!--        <div class="input-group md-form form-sm form-1 mr-0 ml-1 pl-5 pr-4 pt-2">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text purple lighten-3" id="basic-text1"><i class="fas fa-search text-white"-->
<!--        aria-hidden="true"></i></span>-->
<!--  </div>-->
<!--  <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">-->
<!--</div>-->
<!--      </li>-->
      <li class="nav-item">
        <div class="dropdown">
<% if(currentUser.profilePicture) { %>
        <img style="border-radius:25px;" height="50" width="50" class="imgProfileBesidesUsernameInNavbar" src="<%=currentUser.profilePicture.replace("/s50/","/")%>">
<% } else { %>
  <% if(currentUser.sex === 'male') { %>
        <img style="border-radius:25px;" height="50" width="50" class="imgProfileBesidesUsernameInNavbar" src="http://www.perceptualdynamics.be/wp-content/uploads/photo-gallery/imported_from_media_libray//thumb/profile_icon%20(15).png">
<% } else {%>
        <img style="background-color: white; border-radius:25px;" height="50" width="50" class="imgProfileBesidesUsernameInNavbar" src="https://cdn2.iconfinder.com/data/icons/person-gender-hairstyle-clothes-variations/48/Female-Side-comb-O-neck-512.png">
  <% } %>
<% } %>
        <a class="nav-link follow dropbtn user" href="/users/<%=currentUser.username%>"><span style="color: white;"><strong><%= currentUser.firstName.charAt(0).toUpperCase() + currentUser.firstName.slice(1) %></strong></span></a>
        <div class="dropdown-content">
        <a href="/users/<%=currentUser.username%>">My Profile</a>
        <a href="/users/<%=currentUser.username%>/link">The Link</a>
        <a href="/users/<%=currentUser.username%>/settings">Settings <i style="opacity:0.75;" class="fas fa-tools"></i></a>
        <a href="/logout">Logout</a>
  </div>
</div>
</ul>
  </div>        
</nav>
<br><br><br>
<% if(error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= error %>
  </div>
  <% } else if(success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= success %>
  </div>
  <% } else if(warning && warning.length > 0) { %>
  <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= warning %> 
  </div>
  <% } else if(info && info.length > 0) { %>
  <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= info %>
  </div>
  <% } %>
 